# Technician Panel Environment Variables
VITE_API_BASE_URL=http://192.168.1.54:4000/api

# API Endpoints
VITE_LOGIN_API=/technician/login
VITE_FORGOT_PASSWORD_API=/technician/forgot-password
VITE_GET_PROFILE_API=/technician/profile
VITE_UPDATE_PROFILE_API=/technician/profile
VITE_CHANGE_PASSWORD_API=/technician/change-password
